<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Assignee</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8" />
</head>
<body class="container-fluid">
    <div class="container">
        <h1 th:text="'Edit Assignee with id ' + ${assignee.id}"></h1>
    </div>
    <table class="container">
        <form action="#" th:action="@{/assignee/edit/} + ${assignee.id}" th:object="${assignee}" method="post">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>EDIT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label th:field="*{id}" th:text="*{id}"></label>
                    </td>
                    <td>
                        <input id="assignee_name" type="text" th:field="*{name}"/>
                    </td>
                    <td>
                        <input id="assignee_email" type="text" th:field="*{email}"/>
                    </td>
                    <td>
                        <input type="submit" class="btn btn-success" value="Edit"/>
                    </td>
                </tr>
            </tbody>
        </form>
    </table>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>