<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
    <p th:text="'name: ' + ${name}"/>
    <p th:text="'balance: ' + ${#numbers.formatDecimal(balance, 2, 2, 'POINT')} + ' Zebra'"/>
    <p th:text="'animalType: ' + ${animalType}"/>
    <p th:text="'status: ' + ${isKing}? #{true} : #{false}">King</td>
    <p th:utext="${test1}"/>
    <p th:text="${test2}"/>
</body>
</html>