<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Barni's Todos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <meta charset="utf-8" />
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="form-group">
        <form action="#" th:action="@{/add}" th:object="${newTodo}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <label for="isDone">Is done?</label>
            <input id="isDone" type="checkbox" th:field="*{isDone}"/>
            <label for="isUrgent">Is urgent?</label>
            <input id="isUrgent" type="checkbox" th:field="*{isUrgent}"/>
            <input type="text" th:field="*{title}"/>
            <select th:field="*{todoType}">
                <option th:each="type : ${todoTypes}" th:value="${type}" th:text="${type}"></option>
            </select>
            <input type="submit" class="btn btn-success" value="Add Todo"/>
        </form>
    </div>
</div>
</body>
</html>