<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Barni's Todos</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8" />
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</head>
<body class="container-fluid">
    <div class="container">
        <h1>Todos for today</h1>
    </div>
    <div class="container form-group">
        <input class="form-control" id="myInput" type="text" placeholder="Search.."/>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table style="width:100%" class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IS DONE</th>
                        <th>IS URGENT</th>
                        <th>TITLE</th>
                        <th>TYPE</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <tr th:each="todo:${todos}">
                        <td th:text="${todo.id}" />
                        <td th:if="${todo.isDone}"><span class="glyphicon glyphicon-ok"></span></td>
                        <td th:unless="${todo.isDone}"><span class="glyphicon glyphicon-remove"></span></td>
                        <td th:if="${todo.isUrgent}"><span class="glyphicon glyphicon-ok"></span></td>
                        <td th:unless="${todo.isUrgent}"><span class="glyphicon glyphicon-remove"></span></td>
                        <td th:text="${todo.title}" />
                        <td th:text="${todo.todoType}" />
                        <td>
                            <form action="#" th:action="@{/list/edit/} + *{todo.id}" method="get">
                                <input class="btn btn-primary" type="submit" value="Edit"/>
                            </form>
                        </td>
                        <td>
                            <form action="#" th:action="@{/list/delete/} + *{todo.id}" method="post">
                                <input class="btn btn-danger" type="submit" value="Delete"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <form action="#" th:action="@{/list/add/}" method="get">
            <input class="btn btn-success" type="submit" value="Add Todo"/>
        </form>
    </div>
</body>
</html>