<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Barni's Todos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <meta charset="utf-8" />
</head>
<body>
<h1>Todos for today:</h1>
<form action="#" th:action="@{/add}" th:object="${newTodo}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label for="isDone">Is done?</label>
    <input id="isDone" type="checkbox" th:field="*{isDone}"/>
    <label for="isUrgent">Is urgent?</label>
    <input id="isUrgent" type="checkbox" th:field="*{isUrgent}"/>
    <input type="text" th:field="*{title}"/>
    <select th:field="*{todoType}">
        <option th:each="type : ${todoTypes}" th:value="${type}" th:text="${type}"></option>
    </select>
    <input type="submit" class="btn btn-success" value="Add Todo"/>
</form>
<table th:border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>IS DONE</th>
            <th>IS URGENT</th>
            <th>TITLE</th>
            <th>TYPE</th>
        </tr>
    </thead>
    <tbody th:each="todo:${todos}" th:object="${todo}">
        <tr>
            <td th:text="*{id}" />
            <td th:text="*{isDone}" />
            <td th:text="*{isUrgent}" />
            <td th:text="*{title}" />
            <td th:text="*{todoType}"></td>
            <td>
                <form action="#" th:action="@{/edit/} + *{id}" method="get">
                    <input class="btn btn-primary" type="submit" value="Edit"/>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{/delete/} + *{id}" method="post">
                    <input class="btn btn-danger" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>