<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Barni's Todos</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8" />
</head>
<body>
<main class="register">
    <div class="container-fluid">
        <h1>Sign up</h1>
        <form action="#" th:action="@{/register}" method="post">
            <p><input class="form-control" placeholder="Username" type="text" name="username"/></p>
            <p><input class="form-control" placeholder="New Password" type="text" name="password"/></p>
            <p><input class="form-control" placeholder="Confirm Password" type="text" name="confirmpassword"/></p>
            <p class="submitandcancel"><button class="btn btn-info" type="submit">Create</button>
                <a class="btn btn-danger" role="button" th:href="@{/reddit/welcome}">Cancel</a></p>
        </form>
    </div>
    <div class="container-fluid">
        <h1>Login</h1>
        <form action="#" th:action="@{/login}" method="post">
            <p><input class="form-control login1" placeholder="Username" type="text" name="username"/></p>
            <p><input class="form-control login2" placeholder="Password" type="text" name="password"/></p>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</main>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>