div{
    display: block;
    width: 264px;
    height: 100%;
    font-size: 16px;
    font-family: courier;
    color: white;
    text-align: center;
    word-wrap: break-word;
    border: 1px solid grey;
    overflow: hidden;
    padding: 20px 40px;
    margin: 10px;
}

div:nth-of-type(1){
    background: #FF6347;
    background-image: url(duck.png);
    background-size: 70px 50px;
    background-repeat: no-repeat;
    background-position: left center;
}

div:nth-of-type(2){
    background: #643579;
    background-image: url(duck.png);
    background-size: 140px 100px;
    background-repeat: no-repeat;
    background-position: center center
}

div:nth-of-type(3){
    background: #808080;
    background-image: url(duck.png);
    background-size: 70px 50px;
    background-repeat: no-repeat;
    background-position: right bottom;
}